@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@200;400&family=Roboto:wght@100;300&display=swap");

::-webkit-scrollbar {
  width: 10px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #085790, #2e5371); /* Thumb color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    #6dd5ed,
    #2193b0
  ); /* Thumb color on hover */
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: no-repeat fixed center url("./assets/bg.jpg");
  background-size: 120% 100%;
  color: #333;
  overflow-x: hidden;
}

.main_container {
  min-width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./assets/main.jpg") no-repeat bottom fixed;
  position: sticky;
  top: -15rem;
}

.recipes_main h2 {
  color: #eaeaea;
  text-align: center;
  font-size: 2.5rem;
  font-family: roboto;
  letter-spacing: 0.4rem;
  font-weight: 200;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.678);
  margin: 3rem auto;
  position: sticky;
  top: 7rem;
  background-color: #44474936;
  max-width: fit-content;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
}

.recipes_container {
  max-width: 1400px;
  margin: 20px auto;
  padding: 20px;
  /* background: rgba(255, 255, 255, 0.867); */
  /* border-radius: 8px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  overflow: hidden; /* Added to maintain border-radius */
}

.title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #eaeaea;
  text-align: center;
  font-size: 5rem;
  font-family: roboto;
  letter-spacing: 0.7rem;
  font-weight: 500;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.657);
  margin: 0;
}

.title_container h2 {
  color: #eaeaea;
  text-align: center;
  font-size: 2.5rem;
  font-family: playpen sans;
  letter-spacing: 0.4rem;
  font-weight: 200;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.678);
  margin-top: 0;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input_container {
  position: sticky;
  top: 1rem;
}

input[type="text"] {
  padding: 10px;
  min-width: 40vw;
  border: 1px solid #ddd;
  margin-right: 10px;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #444749;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #0056b3;
}

.recipes_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
}

.recipe_item {
  background: #f1f1f1;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 40rem;
  overflow-y: hidden;
  padding-top: 0;
}

.recipe_item img {
  width: 94%;
  margin: 1rem auto;
  height: auto;
  display: block;
  border-radius: 50%;
  transition: all 0.25s ease-in-out;
  position: static;
  top: 1rem;
  box-shadow: 0 2px 5px rgba(52, 52, 52, 0.315);
}
.recipe_item img:hover {
  border-radius: 0.2rem;
  width: 98%;
}

.first_div {
  padding: 15px;
  border-top: 1px solid #ddd;
}

.recipe_item ul {
  margin: 0;
  padding: 0 15px 15px;
  list-style-type: none;
}

.recipe_item li {
  padding: 5px 0;
}

.pic_div {
  height: 30rem;
  max-height: fit-content;
  box-sizing: border-box;
}

.recipe_item h3 {
  text-align: center;
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

.learn_more {
  margin: 0;
  padding: 0;
  top: 45%;
  left: 35%;
}

.learn_more button {
  display: none;
  padding: 10px 20px;
  background-color: rgba(164, 164, 164, 0.496);
}
@media screen and (min-width: 600px) {
  .recipe_item img {
    max-width: 25rem;
  }
}
